.modal {
    display: none;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;

    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.modal.open {
    display: flex;
}

.modal .bg {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.modal .center {
    position: relative;
    z-index: 1;

    background: white;
    padding: 20px;
    border-radius: 8px;

    min-width: 300px;
}
